body {
    background-image: url('images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#score { 
    color:pink;
    top:5%;
    right:50%;
    position: fixed;
}

#counter { 
    color:pink;
    top:12%;
    right:52%;
    position: fixed;
}

#gameover {
    background-color:rgb(37, 41, 41);
    color:pink;
    font-size:16px;
    font-weight:bold;
    font-family:Tahoma;
    padding:12px;
    border-radius:12px;
    bottom:5%;
    right:50%;
    position: fixed;
}

#zombie {
    top:20%;
    left:20%;
    position: absolute;
    width:100px;
}

#pixie{
    top:20%;
    right:30%;
    position: absolute;
    width:70px;
}


